body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#myCarousel
{
    background-color: rgb(206, 182, 182);
}

#myCarousel img{
    height:300px;
    margin-top:35px;
}

.carousel-inner p{
    margin-top:35px;
    font-size:25px;
    color:white;
}


